*{margin:0;padding:0;}


@font-face{
	font-family: "utm-helvetin";
	src: url("../fonts/UTM HelvetIns.ttf");
	font-weight: normal;
}
@font-face{font-family:'FontAwesome';src:url("../fonts/fontawesome-webfont.eot?v=4.2.0");src:url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"),url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"),url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"),url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:"roboto-regular";src:url("../fonts/Roboto-Regular.ttf");font-weight:normal}@font-face{font-family:"roboto-bold";src:url("../fonts/Roboto-Bold.ttf");font-weight:normal}@font-face{font-family:"roboto-black";src:url("../fonts/Roboto-Black.ttf");font-weight:normal}@font-face{font-family:"roboto-medium";src:url("../fonts/Roboto-Medium.ttf");font-weight:normal}@font-face{font-family:"futura-book";src:url("../fonts/SFUFuturaBook.TTF");font-weight:normal}@font-face{font-family:"futura-bold";src:url("../fonts/SFUFuturaBold.TTF");font-weight:normal}@font-face{font-family:"futura-heavy";src:url("../fonts/SFUFuturaHeavy.TTF");font-weight:normal}@font-face{font-family:"avo-bold";src:url("../fonts/UTM AvoBold.ttf"),url(../fonts/utm-avobold.woff);font-weight:normal}@font-face{font-family:"flamenco";src:url("../fonts/UTM Flamenco.ttf");font-weight:normal}@font-face{font-family:"anton-regular";src:url("../fonts/Anton-Regular.ttf");font-weight:normal}.icon{padding-left:40px;position:relative;display:flex;align-items:center;flex-wrap:wrap;height:30px;}.icon:before{font-family:"FontAwesome";width:45px !important;display:flex;border-radius:50%;align-items:center;justify-content:center;margin-right:10px;color:#fff;position:absolute;left:0;top:5px}.icon.area:before{content:"\f1fe "}.icon.user:before{content:"\f007 "}.icon.home:before{content:"\f015"}.icon.marker:before{content:"\f041"}.icon.email:before{content:"\f003"}.icon.hotline:before{content:"\f095 "}.icon.global:before{content:"\f0ac"}.icon.menu_responsive:before{content:"\f0c9 ";background:none;font-size:24px;color:#FFF}.icon.price:before{content:"\f155 "}img{vertical-align:middle}body h1.nina{position:absolute;z-index:-1;color:transparent}iframe{width:100%}#topbar{height:40px;background-color:#189917;color:#FFF;align-items:center;font-family:futura-book;font-size:14px}#topbar .container{height:100%;align-items:center}#menu .container{display:flex;justify-content:space-between;align-items:center}#menu .menu-nav{display:block}#menu .menu{display:table-cell}#menu-top{position:relative;background: #0066cc;z-index: 99;}#menu-top .container{display:flex;justify-content:space-between;align-items:center}#menu-top .nav-menu{display:flex;flex-wrap:wrap;/* width: calc(100% - 250px); */position:relative;margin:0;}#menu-top .nav-menu a{padding: 0 30px;text-decoration:none;display:flex;align-items:center;text-align: left;height: 44px;color:#fff;text-transform:uppercase;font-size:16px;justify-content: flex-start;width:100%;}#menu-top .nav-menu li:hover>ul{display:block !important}#menu-top .nav-menu li{position:relative}#menu-top .nav-menu>li.menu:after{/* content:""; */position:absolute;width:5px;height:5px;background:#FFf;border-radius:50%;right:0;top:50%;transform:translate(-50%, -50%);}#menu-top .nav-menu>li.menu{display:block;position:relative;text-align:center}#menu-top .nav-menu>li.menu.active,#menu-top .nav-menu>li.menu:hover{background-color: #0158ae;}#menu-top .nav-menu>li.menu.active>a,#menu-top .nav-menu>li.menu:hover>a{color:#fff}#menu-top .nav-menu>li.menu ul{position:absolute;left:0;display:none}#menu-top .nav-menu>li.menu ul li{white-space:nowrap;display:flex;width:100%;padding: 0;}#menu-top .nav-menu>li.menu ul li.menu-list{border-bottom:1px solid rgba(204,204,204,0.29)}#menu-top .nav-menu>li.menu ul li.menu-list>a{color:#fff}#menu-top .nav-menu>li.menu>ul.nav-menu-list{background-color: #0066cc;left:0;min-width: 216px;padding: 0;}#menu-top .nav-menu>li.menu>ul.nav-menu-list li:hover>a{color: #fff;background: #0158ae;}#menu-top .nav-menu>li.menu>ul.nav-menu-list>a{color:#fff}#menu-top .nav-menu>li.menu>ul.nav-menu-list ul.nav-menu-cat{background-color:#d90000}#menu-top .nav-menu>li.menu>ul.nav-menu-list ul{left:100%;top:0}#menu-top li.menu-list>a{width:100%}#product_list{/* padding:40px 0 */margin-bottom: 30px;}#product_list .swiper-wrapper{padding:15px 0}.product_list_item{position:relative;/* width: 100%; */text-align:center;/* display:flex; */overflow: hidden;flex-wrap:wrap;}.product_list_item .image{max-width:250px;overflow:hidden;border-radius:50%;overflow:hidden;border:4px solid #fff;box-shadow:0 0 15px 0 #cdcdcd;position:relative;transition:all 0.3s}.product_list_item img{width: 100%;/* border-radius:50% */}.product_list_item h3{position:absolute;bottom: 0;left:0;display:flex;align-items:center;/* justify-content:center; */text-align:center;width:100%;/* height:100%; */color:#FFF;font-family:roboto-black;font-size:20px;text-transform:uppercase;transition:all 0.3s;pointer-events:none;margin: 0;background: #00000082;}.product_list_item:hover h3{background-color:rgba(0,0,0,0.51);transition:all 0.3s}.visaochon_item{text-align:center;position:relative}.visaochon_item{text-align:center;color:#fff;font-size:14px;display:flex;justify-content:center;flex-wrap:wrap}.visaochon_item .image{margin-bottom:10px;max-width:173px;background:url(../images/bg_vsc_item_active.png) center no-repeat}.visaochon_item:hover .image{background:url(../images/bg_vsc_item.png) center no-repeat}.visaochon_item .image img{transition:all 0.3s}.visaochon_item:hover .image img{transform:scale(1.05);transition:all 0.3s}.visaochon_item h3{position:relative}.visaochon_item h3:before{position:absolute;bottom:0;left:0;right:0;width:40px;height:1px;margin:0 auto;background-color:#000}.visaochon_item h3 a{font-family:roboto-black;font-size:20px;color:#fff;text-transform:uppercase;transition:all 0.3s}.visaochon_item:hover h3 a{color:#df0000;transition:all 0.3s}#visaochon{background:url(../images/bg_visaochon.jpg);background-size:cover}#visaochon .swiper-wrapper{padding:30px 0}#footer{background: url(../images/bg_footer.jpg);background-size:cover;padding: 30px 0;color:#fff;font-size:13px;background-color: #0086cd;margin-top: 30px;}#footer .icon{padding-left: 28px;margin-bottom: 5px;padding-bottom: 5px;height:unset;}#footer .icon:before{color:#fff;width:24px !important;height:24px !important;border-radius:5px;margin-right:30px;font-size:16px;top:0px}#footer h2{font-family: utm-helvetin;font-size: 30px;margin-bottom:15px;color: #ffd200;text-transform:uppercase;}#footer h3{font-size: 18px;margin-bottom:15px;margin-top:15px;font-family: roboto-regular;}#footer input,#footer textarea{border-radius:0;border:1px solid #dfdfdf}#footer input{height:40px;/* width:383px */}#footer input[type=submit]{text-transform:uppercase;background-color: #ffae00;border:none;color:#FFF;font-family:roboto-bold;font-size:15px;position: absolute;right: 0;width: 80px!important;top: 0;}#footer iframe{height: 210px;}
#newsletter.avn{padding:35px 0;color:#FFF;font-family:futura-book}#newsletter.avn .container{display:flex;justify-content:space-between}#newsletter.avn input{border:none}#newsletter.avn input[type=text]{height:56px;border-radius:50px;width:100%;padding-left:30px;font-family:futura-book;font-size:13px}#newsletter.avn input[type=submit]{background:url(../images/btn-submit.png);height:48px;position:absolute;right:22px;top:4px;color:transparent}#quytrinh{padding-top:30px}.copyright{height:50px;display:flex;align-items:center;background-color: #0756a7;text-align:center;font-size:13px;color:#FFF;text-align:center;justify-content:center;/* border-top:1px solid #fff; */}#wrapper{position:relative;z-index:99}#doitac{/* background-color:#f8f8f8; */padding:30px 0;}.container{max-width: 1230px !important;position:relative;}#header{background: #ececec;background-size:cover;}#header .container{display:flex;justify-content: space-between;flex-wrap:wrap;align-items: center;}.reverse{filter:brightness(0) invert(1)}#slider{position:relative;/* width: calc(100% - 250px); *//* float: right; *//* padding: 5px; */}#gioithieu{padding:45px 0;background-color:#f2f2f2}#gioithieu .image{width:660px}#gioithieu .detail{width:calc(100% - 680px)}#gioithieu .container{display:flex;justify-content:space-between;flex-wrap:wrap}.gioithieu-title{position:relative;margin-bottom:10px}.gioithieu-title .header-slogan{font-size:24px;z-index:999;position:relative}.gioithieu-title:after{content:"";width:100%;height:1px;left:0;top:0;bottom:0;margin:auto;border:1px solid #189917;position:absolute}.xemtatca a{color:#fff;text-decoration:none;padding:10px 35px;border:1px solid #FFF;font-family:futura-book;font-size:14px;text-transform:uppercase;background:#eb182a}.xemtatca a:hover{background-color:#fff;color:#333}#gioithieu .xemtatca a:hover{background-color:#189917;color:#fff}.row.col-20{margin-left:-10px;margin-right:-10px}.row.col-20 [class*="col"]{flex-basis:unset !important;max-width:20%;padding-left:10px;padding-right:10px}.dichvu_item .xemthem a{/* width:118px; *//* height:40px; *//* background-color:#000; */display:flex;/* justify-content:center; */align-items:center;color: #0080ff;font-size: 13px;}.xemthem:hover{/* background-color:rgba(33,33,33,0.85); */text-decoration:none;color:#FFF;transition:0.1s;}.header-title{position:relative;text-align:center;margin-bottom:20px;}.header-title .label{color:#808080;font-size:16px;font-family:futura-book}.h2-title{font-family: utm-helvetin;font-size: 30px;color: #0066cc;text-transform:uppercase;/* margin-bottom: 30px; */}.header-title .desc{color: #d4d2d2;font-family: roboto-regular;font-size:14px;}#product_noibat{/* padding:45px 0 */}
.product-item{text-align:center;margin-bottom:15px}
.product-item .image{overflow:hidden;border:1px solid #ccc}
.product-item .image img{transition:all 0.3s}
.product-item:hover .image img{transform:scale(1.08);transition:all 0.3s}
.product-item h3{padding:8px 0 5px;margin-bottom:0}
.product-item h3 a{font-size: 18px;color:#000000;font-family: roboto-medium;}
.product-item .mota{font-size:14px;color:#393939}
.product-item .giaban span{color:#d60c0c;font-family:roboto-bold}
.product-item .price{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}
.product-item .price .giacu{
    
font-family: roboto-regular;
    
font-size: 15px;
    
color: #434343;
    
text-decoration: line-through;
}
#toolbox .vertical_tintuc{width:calc(100% - 590px)}
#toolbox .album{width:550px}
.sanpham_noibat{padding-top:40px}
.product_list{
	max-height:450px;min-height:300px;display:flex;align-items:center;
	flex-wrap:wrap;font-family:futura-book;font-size:14px;color:#FFF;
	transition:all 0.3s;position:relative}
	.product_list .inline-block{max-width:660px;display:inline-block;flex-wrap:wrap;position:relative}.product_list .container{display:flex;flex-wrap:wrap;position:absolute;margin:0 auto;left:0;right:0}.product_list img{filter:brightness(0.7);transition:all 0.2s}.product_list:hover img{filter:brightness(1);transition:all 0.2s}.product_list:nth-of-type(even) .container{flex-flow:row-reverse}.product_list h3 a{font-family:futura-bold;font-size:30px;color:#FFF}.product_list:hover{filter:brightness(1);transition:all 0.3s;cursor:pointer}#quytrinh .swiper-wrapper{padding:10px 0}.qt_item{text-align:center;font-size:14px;position:relative;text-align:center}.qt_item.active:after{content:"";width:1px;height:72px;background-color:#878787;position:absolute;top:100%;z-index:99999;left:0;right:0;margin:0 auto}.qt_item.active:before{content:"";position:absolute;top:calc(100% + 65px);z-index:99999;left:0;right:0;margin:0 auto;width:10px;height:10px;background-color:#878787;border-radius:50%}.qt_item .image{margin-bottom:10px}.qt_item .image img{border:5px solid #ccc;transition:all 0.3s}.qt_item:hover .image img{border-color:#df0000;transform:scale(1.05);transition:all 0.3s}.qt_item h3{background-color:#878787;position:relative;padding-bottom:25px;margin-bottom:15px;width:160px;height:160px;border-radius:50%;border:1px solid #ccc;display:flex;align-items:center;justify-content:center}.qt_item:hover h3,.qt_item.active h3{background-color:#fff}.qt_item:hover h3,.qt_item.active h3{color:#FFF}.qt_item h3:before{content:""}.qt_item h3 a{color:#333}#quytrinh .swiper-button-prev,#quytrinh .swiper-button-next{filter:grayscale(1);opacity:0.5}.btn-contact-submit{width:100%;height:100%;border:0;background-color:#FFF;font-size:20px;font-family:futura-bold}.bg_lightyellow{background-color:#f5f5f5}.gioithieu_label{font-family:svn-dancing-script;font-size:30px;color:#333333}#toolbox{margin-bottom:30px;padding:45px 0}#toolbox .container{display:flex;justify-content:space-between;flex-wrap:wrap}#toolbox h2{font-size:31px;color:#029c00;font-family:anton-regular;margin-bottom:20px;line-height:1.2;background:url(../images/minibox_h2.png) bottom left no-repeat;padding-bottom:5px}#toolbox .vertical_baiviet_item{margin-bottom:15px}#toolbox .vertical_baiviet_item .detail{width:calc(100% - 195px)}#toolbox .vertical_baiviet_item h3 a{font-family:"roboto-regular";color:#333333;font-size:13px}#toolbox .vertical_tintuc_item{margin-bottom:20px}#toolbox .vertical_tintuc_item .detail{display:flex;padding:10px 0;width:calc(100% - 215px);overflow:hidden}#toolbox .vertical_tintuc_item .detail .ngaytao{font-size:12px;color:#8c8b8b}#toolbox .vertical_tintuc_item .detail h3{white-space:nowrap;overflow:hidden;max-width:100%;position:relative}#toolbox .vertical_tintuc_item .image{position:relative}#toolbox .vertical_tintuc_item .ngaytao{position:absolute;top:0;left:0;display:flex;align-items:center;justify-content:center;text-align:center;width:48px;background-color:#c42e30a3}#toolbox .ngaytao span{display:block}#toolbox .ngaytao span.ngay{display:inline-block;font-family:roboto-regular;font-size:25px;color:#FFF;border-bottom:1px solid #fff}#toolbox .ngaytao span.thang{display:inline-block;font-family:roboto-regular;font-size:11px;color:#FFF}#toolbox .vertical_tintuc_item .detail h3 a{font-size:13px;color:#333;font-family:roboto-regular;vertical-align:top;line-height:1}#toolbox .vertical_tintuc_item .detail .mota{color:#666666;font-size:13px;line-height:1.4;font-family:roboto-regular}#toolbox .vertical_tintuc_item .detail .xemthem{margin-top:10px}#toolbox .vertical_tintuc_item .detail .xemthem a{color:#fff;position:relative}#toolbox .vertical_tintuc_item .detail .xemthem a:after{width:48px;height:1px;background:#f7d691;display:block;position:absolute;right:-70px;top:10px}#toolbox .vertical_tintuc_item .detail.doingu .label{color:#262626}#toolbox .vertical_tintuc_item .detail.doingu h3{padding:15px 0}#toolbox .vertical_tintuc_item .detail.doingu h3 a{font-size:17px;font-family:"quicksand-bold";text-transform:uppercase}#toolbox .vertical_tintuc_item .detail.doingu .mota{color:#484646}#toolbox .vertical_tintuc_item .detail.doingu .xemthem a:after{content:unset}#toolbox .vertical_tintuc_item .detail.doingu .xemthem a{display:inline-flex;width:100px;height:35px;align-items:center;justify-content:center;border:1px solid #cca32a;border-radius:3px}#toolbox .vertical_tintuc_item .detail.doingu .xemthem a:hover{background-color:#cca32a;text-decoration:none;color:#FFF}#toolbox .vertical_tintuc_item:hover{background-color:#189917}#toolbox .vertical_tintuc_item:hover .detail h3 a{color:#FFF}#toolbox .vertical_tintuc_item:hover .detail .mota{color:#FFF}div.header-slogan{/* text-align:center; */position:relative;/* margin-bottom:20px; */}div.header-slogan>h2{z-index:9;position:relative;display: block;padding-bottom: 10px;border-bottom: 1px solid #ccc;margin-bottom: 15px;}div.header-slogan h2:after{content: url("../images/header-slogan-bottom.jpg");position:absolute;bottom: -7px;left: 0;right: 0;}span.header-slogan{background:url(../images/header_slogan.png);background-size:100% 50px;/* padding:0 40px; *//* height:50px; */display:inline-flex;align-items:center;justify-content:center;font-family: roboto-medium;font-size:24px;color: #000000;text-transform: uppercase;}.sub_album>a{display:block;margin-bottom:10px}.sticky_topbar{background-color:#FFF;transition:all 0.3s;position:fixed !important;z-index: 99999999999!important;width:100%;top:0;left:0;margin:0 !important;}
	#menu-top #logo img{height:90px;transition:all 0.3s;position:relative}
	.sticky_topbar #logo img{height:45px !important;transition:all 0.3s}
	#ykien{padding:45px 0;background:url(../images/bg_khachhang.jpg) top no-repeat;color:#ecebeb;z-index:2;position:relative;font-size:13px;position:relative}#ykien .container{max-width:900px}#ykien .swiper-container{width:600px;margin:20px auto;padding:15px 0}#ykien .swiper-slide:not(.swiper-slide-active) .khachhang_item{transform:scale(0.65)}#ykien .swiper-slide.swiper-slide-active .khachhang_item .image{border:5px solid #f3f0f0;box-shadow:0 0 10px 0 #bdbdbd}#ykien .swiper-slide.swiper-slide-active .khachhang_item .image{width:190px !important;height:190px;margin:0 auto}#ykien .ykien_content:not(.active){display:none}#ykien .ykien_content{font-size:14px;color:#676767;font-family:futura-book}#ykien .content-khachhang{height:75px}#ykien h3{font-family:futura-bold;font-size:18px;color:#333;margin-top:15px}.btn-menu{display:none;}#baogia{background-color:#000 !important}#baogia .container{padding:0 55px;position:relative}.baogia_item{text-align:center;color:#fff;font-size:14px}.baogia_item h3 a{font-family:futura-heavy;color:#FFF;font-size:14px;text-transform:uppercase}.baogia_item .detail{background-color:#0f0f0f}.baogia_item .price span{font-size:24px;font-family:futura-heavy}.baogia_item .mota{background-color:#171717;padding:5px 10px;line-height:2}.baogia_item .more{display:block;padding:15px 0;background-color:#171717;text-decoration:none}.baogia_item .more span{display:inline-flex;width:90px;height:30px;background-color:#fff;justify-content:center;align-items:center;color:#333}.baogia_item .more:hover span{color:#df0000}.doitac_item{display:inline-block;margin:0 10px}#video{position:relative}.sub-videos{position:absolute;bottom:0;width:100%;max-width:480px;margin:0 auto;left:0;right:0}@media (min-width: 1230px){.vertical_menu:not(.d-block){display:none}.vertical_menu{position:absolute;top:100%;left:0;width:100%;height: 373px;background-color: #fff;z-index:999999999999999;border: 1px solid #e5e5e5;border-top: none;}.vertical_menu .nav-menu-list{height:100%;list-style-type:none;padding: 0 5px;}.vertical_menu .nav-menu-list .menu-list-text{font-family: roboto-regular;display: flex;padding:10px 15px;border-bottom:1px solid #efefef38;font-size:14px;color: #4b4b4b;font-family:roboto-regular;text-transform:uppercase;border-bottom: 1px solid #e5e5e5;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 0;align-items: center;flex-wrap: wrap;}.vertical_menu .nav-menu-list .menu-list-text:hover{background-color: #0274b1;color:#FFF;text-decoration:none;}.vertical_menu .nav-menu-list .menu-list-text:before{/* content:url(../images/nav.png); */margin-right:10px;}#nav{z-index:999;width:100%}.bando_footer iframe{height:435px;width:100%}}.row-5{margin-left:-5px !important;margin-right:-5px !important}.row-5 [class*="col-"]{padding-left:5px !important;padding-right:5px !important}.readmore{color:#ee1616}#congtrinh{padding:40px 0;overflow:hidden;background:url(../images/bg_dichvu2.jpg)}.congtrinh_item{position:relative;background-color:#FFF;padding:10px;display:flex;justify-content:space-between;font-size:14px;flex-wrap:wrap;margin-bottom:15px}.congtrinh_item:not(.even){flex-flow:row-reverse wrap;border-top-right-radius:100px;border-bottom-left-radius:100px;text-align:right}.congtrinh_item:not(.even) .image{overflow:hidden;border-top-right-radius:100px;border-bottom-left-radius:100px}.congtrinh_item.even{border-top-left-radius:100px;border-bottom-right-radius:100px}.congtrinh_item.even .image{overflow:hidden;border-top-left-radius:100px;border-bottom-right-radius:100px}.congtrinh_item .image{display:block;width:250px}.congtrinh_item .detail{width:calc(100% -  265px)}.congtrinh_item h3 a{font-size:16px;font-family:roboto-bold;color:#e52e2e;width:100%;padding:10px 0;text-transform:uppercase;transition:all 0.3s}.main_album{width:380px}.sub_album{width:calc(100% - 395px)}.fb_iframe_widget_fluid_desktop iframe{width:100% !important}#menu_responsive:not(.mm-menu){display:none}#menu-top .container{display:flex;justify-content:space-between;flex-wrap:wrap;height:100%}.nav-left{width: 250px;height:45px;display:flex;justify-content:center;align-items:center;background-color: #0274b1;color:#FFF;position:relative;font-family: roboto-bold;font-size: 15px;}.nav-menu{width:calc(100% - 300px)}#timkiem{width:100%;max-width: 500px;height: 40px;margin:10px 0;padding:0 15px;}#timkiem .relative{position:relative}#timkiem input{height:32px;border:none;outline: none;}#timkiem input[type=text]{width:100%;height: 44px;border:none;padding-left: 15px;border: 1px solid #dedede;color: #a0a0a0;font-size: 12px;font-family: roboto-regular;border-radius: 5px;}#timkiem input[type=button]{position:absolute;top: 1px;right: 0;color:transparent;background: url(../images/btn-submit.png) center no-repeat;height: 42px;width: 82px;}.mota_qt_item:not(.active){display:none}.mota_qt_item{text-align:left;justify-content:flex-start;padding:30px;border:1px solid #d3d3d3;border-bottom:none;font-family:futura-book;font-size:14px;margin-top:45px}#dichvu{padding:40px 0;/* background-color:#878787 */}
	.dichvu_item{color:#ffffff;font-size:14px;/* font-family:futura-book */}
	.dichvu_item h3 a{color:#FFF;font-size:18px;font-family: roboto-medium;text-decoration:none;text-transform:uppercase;}
	.dichvu_item .image{margin-top:15px}
		.dichvu_item .detail{
		  padding: 15px 10px;
		  position:absolute;
		  bottom:0;
		  width:100%;
		  background-color: rgba(0, 0, 0, 0.8);
		}
	.xemtatca{margin-top:30px}
	#duan{padding:45px 0}
	.duan_content{overflow:hidden}.duan_content{overflow:hidden;max-width:100%}
	.duan_content [class*=col-]{padding-left:5px;padding-right:5px}.duan_item{margin-bottom:10px;position:relative;cursor:pointer}.duan_list_label{display:inline-block;color:#333333;font-size:20px;font-family:futura-book;margin-bottom:20px;cursor:pointer}.duan_list_label:not(:last-child)::after{content:url(../images/star.jpg);margin:0 10px}.content_label{text-align:center}.duan_item h3{position:absolute;top:0;left:0;width:100%;height:100%;display:flex;justify-content:center;align-items:center;color:#fff;background-color:rgba(0,0,0,0.42);transition:all 0.3s;pointer-events:none;opacity:0}.duan_item:hover h3{opacity:1}.duan_item h3>span{width:100%;text-align:center;background:url(../images/title.png) center no-repeat;background-size:contain;height:40px;line-height:40px}
.flex {
  display: flex;
}

.flex.w {
  flex-wrap: wrap;
}

.flex.jb {
  justify-content: space-between;
}

.flex.js {
  justify-content: flex-start;
}

.flex.je {
  justify-content: flex-end;
}

.flex.ac {
  align-items: center;
}

#menu-top {
  background: #0066cc;
  position: relative;
  z-index: 99;
}

.nav-menu {
  display: table;
  width: 100%;
  position: relative;
}

.nav-menu a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  height: 45px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  justify-content: center;
}

.nav-menu li:hover > ul {
  display: block;
}

.nav-menu li {
  position: relative;
}

.nav-menu > li.menu {
  display: table-cell;
  position: relative;
  border-right: 1px solid #0250c3;
}

.nav-menu > li.menu.active,
.nav-menu > li.menu:hover {
  background-color: #f5c900;
}

.nav-menu > li.menu.active > a,
.nav-menu > li.menu:hover > a {
  color: #0148ae;
}

.nav-menu > li.menu ul {
  position: absolute;
  display: none;
}

.nav-menu > li.menu ul li {
  white-space: nowrap;
  padding: 0 15px;
  display: flex;
}

.nav-menu > li.menu > ul.nav-menu-list {
  background-color: #f5c900;
}

.nav-menu > li.menu > ul.nav-menu-list li:hover {
  background-color: #0148ae;
}

.nav-menu > li.menu > ul.nav-menu-list a {
  color: #1f1f1f;
}

.nav-menu > li.menu > ul.nav-menu-list ul.nav-menu-cat {
  background-color: #e6bc00;
}

.nav-menu > li.menu > ul.nav-menu-list ul {
  left: 100%;
  top: 0;
}

#gioithieu {
  background: url(../images/bg_gioithieu.jpg?95525a08a19c62180358ca0d87e121b0);
  background-size: cover;
  padding-top: 70px;
}

#gioithieu .detail {
  width: 600px;
  color: #f5f5f5;
  font-size: 14px;
  font-family: roboto-regular;
}

#gioithieu .image {
  width: calc(100% - 630px);
}

.gioithieu-header {
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
}

.gioithieu-header:before {
  background: #0066cc;
  content: "";
  width: 9px;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.gioithieu-header .label {
  font-family: roboto-regular;
  color: #FFF;
  font-size: 16px;
}

.gioithieu-header .title {
  color: #0080ff;
  font-size: 30px;
  font-family: "utm-helvetin";
}

.gioithieu-content {
  font-family: roboto-regular;
  font-size: 14px;
  color: #f5f5f5;
  line-height: 1.75;
  max-height: 170px;
  overflow: hidden;
}

.more a {
  display: inline-flex;
  padding: 8px 25px;
  background: #0080ff;
  color: #FFF;
}


.container .container{
    max-width:100%;
    padding: 0;
}
.qc_item{
    margin-bottom: 15px;
   
}
.imghot{
    position:relative;
    right:-10px;
    top: -20px;
}
.box-item{
    border: 1px solid #efefef;
     border-top-left-radius: 5px;
    border-top-right-radius:5px;
    overflow: hidden;
}
.box-item h2{
    background-color: #00a6e8;
    
    text-transform: uppercase;
    display:flex;
    align-items:center;
    justify-content:center;
    height:50px;
}
.box-item h2 > span{
    font-size: 22px;
    color: #FFF;
    font-family: roboto-medium;
}
.box-left-tintuc .content{
    padding: 10px;
}
.box-left-tintuc h3 a{
    color: #444;
    font-size: 16px;
    font-family: roboto-medium;
}
.box-left-tintuc .mota{
    font-size: 14px;
    color: #444;
    font-family: roboto-regular;
}
.v-tintuc-item h3{
    margin-top: 5px;
    margin-bottom: 0px;
}
.row.row-15{
    margin-left: -0.5rem;
     margin-right: -0.5rem;
}
.row.row-15 [class*="col-"]{
     padding-left: 0.5rem;
     padding-right: 0.5rem;
}
.select_video_item{
    position:relative;
}
.select_video_item:before{
    content: url(../images/play.png);
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
#video div.header-slogan h2:after{
    right:0;
}
.relative{
    position:relative;
}
.line-bottom{
    background: url(../images/line_bottom.jpg) bottom left no-repeat;
    padding-bottom: 5px;
}
.chinhsach_item{
    display:block;
    color: #fff;
    background: url(../images/nav.png) no-repeat center left;
    padding-left: 15px;
    margin-bottom: 10px;
}
.chinhsach_item:hover{
    color: #fff;
}
@media (max-width: 1230px){
    #header .container{
        justify-content: center;
    }
    #menu-top .nav-menu{
        display: none;
    }
    #menu-top .nav-left{
        display: none;
    }
     #menu-top{
         height: 45px;
     }
     #nav .container{
         /* padding:0; */
     }
     #slider{
         padding: 0;
         width: 100%;
     }
}

@media (max-width: 991px){
    .box-left{
        display: none;
    }
    .box-right{
        width: 100%;
    }
}
#header .hotline{
    background: url(../images/hotline.png) left center no-repeat;
    padding-left: 80px;
    min-height: 60px;
    /* width: 250px; */
    line-height: 1.2;
}
#header .hotline > div{
    font-family: utm-helvetin;
}
#header .hotline .number{
    
font-size: 20px;
    
color: #ed1c24;
}
.addons .cart{
    background: url(../images/cart.png) left center no-repeat;
    padding-left: 45px;
    min-height: 60px;
    color: #494949;
    line-height: 1.5;
    padding-top: 5px;
    margin-left: 30px;
  
}
.addons .cart .count_cart{
    font-family: roboto-bold;
    color: #f00;
}

@media (max-width: 1230px){

    .btn-menu{
        display:flex;
        align-items:center;
        top: -5px;
        position: relative;
    }
}
.kgq_item {
  margin-bottom: 10px;
  position: relative;
}
.kgq_item:hover .overlay{
  opacity: 1;
}
.overlay{position:absolute;width:100%;height:100%;left:0;top:0;display:flex;align-items:center;justify-content:center;padding:30px;background-color:rgba(16,16,16,0.23921568627450981);color:#FFF;pointer-events:none;opacity:0;transition:.3s;}.overlay.bottom{display:flex!important;margin:0;opacity:1;top:unset;bottom:0;height:auto;padding:15px 20px;}.overlay.bottom a{color:#FFF;}.overlay:hover a{color:#FFF!important;}.image:hover .overlay{opacity:1;}
.row-10 {
    margin-left: -5px;
    margin-right: -5px;
}
.row-10 [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}
.hieuung{position:relative;overflow:hidden;}.hieuung:after{position:absolute;top:0px;left:0px;width:100%;height:100%;background:rgba(255,255,255,0.5);content:'';-webkit-transition:-webkit-transform 0.6s;transition:transform 0.8s;-webkit-transform:scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-110%,0);transform:scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-110%,0);pointer-events:none;}.hieuung:hover:after{webkit-transform:scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,110%,0);transform:scale3d(2.2,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,110%,0);}.effecspcl{pointer-events:none;}.effecspcl:after,.effecspcl:before{content:'';display:block;left:0px;top:0px;bottom:0px;right:0px;z-index:1;-moz-transition:all .4s ease;-webkit-transition:all .4s ease;transition:all .4s ease;position:absolute;}.effecspcl:before{border-top:1px solid #f00;border-bottom:1px solid #f00;-webkit-transform:scale(0,1);-moz-transform:scale(0,1);transform:scale(0,1);}.effecspcl:after{border-left:1px solid #f00;border-right:1px solid #f00;-webkit-transform:scale(1,0);-moz-transform:scale(1,0);transform:scale(1,0);}.hieuung:hover .effecspcl{background:rgba(255,255,255,0.1);box-shadow:none;}.hieuung:hover .effecspcl:after,.hieuung:hover .effecspcl:before{-webkit-transform:scale(1,1);-moz-transform:scale(1,1);transform:scale(1,1);}
#khonggianquan .content .col-md-6.col-12:nth-of-type(even) .row{
  /* flex-flow:column-reverse; */
  display: flex;
  flex-flow: wrap-reverse;
}
#khonggianquan{
	padding: 45px 0;
}
#newsletter.xvn{
		background: url(../images/bg_newsletter.jpg);
		background-size: cover;
		padding: 40px 0;
	}
	#newsletter.xvn .header{
		text-align: center;
		margin-bottom: 15px;
		color: #fff;
	}
	#newsletter.xvn h2{
		/* font-family: utm-helvetin; */
		/* font-size: 25px; */
		/* color: #ffd800; */
		/* margin-bottom: 10px; */
	}
	#newsletter.xvn form{
		width: 860px;
		max-width: 100%;
		margin: 0 auto;
	}
	#newsletter.xvn .inputx {
		margin-bottom: 15px;
	}
	#newsletter.xvn .inputx input{
		background-color: rgba(255, 253, 253, 0.4);
		border: none;
		border-radius: 30px;
		/* padding-left: 15px; */
		height: 45px;
		outline: none;
	}
	#newsletter.xvn .inputx:nth-child(even) input{
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	#newsletter.xvn .inputx:nth-child(odd) input{
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	#newsletter.xvn input[type=submit]{
		background-color: #0158ae;
		border-radius: 0;
		font-family: roboto-bold;
		border-radius: 30px!important;
		width: 165px;
		color: #FFF;
		text-transform: uppercase;
		margin: auto;
	}

	.minibox_title {
	position: relative;
	color: #0066cc;
	font-size: 25px;
	font-family: utm-helvetin;
	/* padding-bottom: 6px; */
	/* border-bottom: 1px solid #d6d6d6; */
	margin-bottom: 20px;
	background: url(../images/mm.png) bottom repeat-x;
	line-height: 1;
}
.minibox_title > span{
	background: #ececec;
	padding-right: 20px;
	line-height: 1;
	position: relative;
}

.minibox_title > span:before {
	content: url(../images/nn.jpg);
	/* height: 1px; */
	/* width: 100%; */
	position: absolute;
	/* bottom: 0px; */
	/* left: 0; */
	/* background-color: #f5f5f5; */
	right: -15px;
}

.minibox_title:after {
	/* content: url(../images/h2_minibox_before.jpg); */
	/* position: absolute; */
	/* bottom: -2px; */
	/* left: 0; */
}

.vertical_baiviet_item {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.vertical_baiviet_item .detail {
	width: calc(100% - 165px);
}

.vertical_baiviet_item h3 a {
	font-family: roboto-bold;
	color: #2f2f2f;
	text-decoration: none;
	font-size: 14px;
}

.vertical_baiviet_item h3 a:hover {
	color: #f00;
}

.vertical_baiviet_item .mota {
	color: #4c4c4c;
	line-height: 1.5;
	font-size: 12px;
	font-family: Arial;
}
.main_tintuc {
	width: 380px;
}

.vertical_tintuc {
	width: calc(100% - 395px);
}

#minibox_vertical_baiviet {
	display: flex;
	justify-content: space-between;
}

.main_tintuc h3 {
	margin: 10px 0;
}

.main_tintuc h3 a {
	font-family: Arial;
	font-size: 14px;
	color: #212121;
}

.main_tintuc .mota {
	font-size: 13px;
	color: #666666;
}

.main_tintuc .xemthem a {
	display: inline-block;
	padding: 8px 20px;
	/* border: 1px solid #333; */
	margin: 10px 0;
	color: #fff;
	text-decoration: none;
	background: #0158ae;
}

.main_tintuc:hover .xemthem a {
	background-color: #00a1dc;
	color: #FFF;
	border-color: #00a1dc;
}
#minibox{
	padding: 45px 0;
}
#backtotop > div {
    background: #0756a7!important;
    }
    .product_list_item h3{
    	padding: 15px 30px;
    	pointer-events: none;
    	max-width: 480px;
    }
    .product_list_item h3 > a{
    	color: #Fff;
    	font-family: roboto-bold;
    	font-size: 24px;
    	display: block;
    	position: relative;
    }
    .product_list_item h3:before{
    	content: url(../images/play.png);
    	position:absolute;
    	right:15px;
    }