* { margin: 0; padding: 0; }
body.index h1{
	position:absolute;
	z-index: -1;
	color: transparent;
}
*, *::before, *::after { box-sizing: border-box; }
@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome-webfont.eot?v=4.2.0"); src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.2.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.2.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; }
@font-face { font-family: "bevietnam-regular"; src: url("../fonts/BeVietnam-Regular.ttf"); font-weight: normal; }
@font-face { font-family: "bevietnam-bold"; src: url("../fonts/BeVietnam-Bold.ttf"); font-weight: normal; }
@font-face { font-family: "bevietnam-medium"; src: url("../fonts/BeVietnam-Medium.ttf"); font-weight: normal; }
@font-face { font-family: "chops"; src: url("../fonts/VNF Chops Normal.ttf"); font-weight: normal; }


.nina{
	color: #fff;
	/* margin-top: 10px; */
	font-size: 12px;
	text-transform: uppercase;
}
#menu-top {background: #d90000;position: relative;z-index: 99;height: 50px;}
#menu-top .nav-menu {display: flex;flex-wrap: wrap;width: 100%;position: relative;/* padding-left: 1.5rem; */}
#menu-top .nav-menu a {font-family: bevietnam-regular;text-decoration: none;display: flex;align-items: center;text-align: left;height: 50px;color: #fff;text-transform: uppercase;font-size: 14px;justify-content: flex-start;background: linear-gradient(to right,#d90000 50%,#960000 100%);padding: 0 30px;/* transform: skew(-30deg); */}
#menu-top .nav-menu .menu > a{
	    transform: skew(-30deg)
}
#menu-top .nav-menu a > span{
	transform: skew(30deg);
}
#menu-top .nav-menu li:hover > ul { display: block !important; }
#menu-top .nav-menu li {position: relative;/* padding: 0 1rem; */}
#menu-top .nav-menu > li.menu {display: block;position: relative;/* width: 100%; */text-align: left;/* padding-left: 1.5rem; *//* background: linear-gradient(to right,#d90000 50%,#960000 100%); *//* padding: 0 30px; */}
#menu-top .nav-menu > li.menu.active, #menu-top .nav-menu > li.menu:hover {/* background-color: #757373; */color: #FFF;}
#menu-top .nav-menu > li.menu.active > a, #menu-top .nav-menu > li.menu:hover > a {color: #fbff07;}
#menu-top .nav-menu > li.menu ul {position: absolute;left: 0;display: none;}
#menu-top .nav-menu > li.menu ul li {white-space: nowrap;padding: 0 15px;display: flex;width: 100%;}
#menu-top .nav-menu > li.menu > ul.nav-menu-list {/* background-color: #f5c900; *//* transform: skew(0deg); */width: 280px;left: -28px;}
#menu-top .nav-menu > li.menu > ul.nav-menu-list li:hover {/* background-color: #353535; */}
#menu-top .nav-menu > li.menu > ul.nav-menu-list li:hover > a{color: #fff;background: #790404;}
#menu-top .nav-menu > li.menu > ul.nav-menu-list > a {color: #fff;}
#menu-top .nav-menu > li.menu > ul.nav-menu-list ul.nav-menu-cat { background-color: #e6bc00; }
#menu-top .nav-menu > li.menu > ul.nav-menu-list ul { left: 100%; top: 0; }
#menu-top li.menu-list > a{
	width: 100%;
	border-bottom: 1px solid #efefef38;
}
#menu-top .container{
	display: flex;
	justify-content:space-between;
}
.vertical_layout #menu-top {/* background: #02419d; */position: relative;z-index: 99;}
.vertical_layout #menu-top .nav-menu {display: flex;flex-wrap: wrap;width: 100%;position: relative;/* padding-left: 1.5rem; */}
.vertical_layout #menu-top .nav-menu a {text-decoration: none;display: flex;align-items: center;text-align: left;height: 40px;color: #606060;text-transform: uppercase;font-size: 14px;justify-content: flex-start;}
.vertical_layout #menu-top .nav-menu li:hover > ul { display: block !important; }
.vertical_layout #menu-top .nav-menu li {position: relative;/* padding: 0 1rem; */}
.vertical_layout #menu-top .nav-menu > li.menu {display: block;position: relative;width: 100%;text-align: left;padding-left: 1.5rem;}
.vertical_layout #menu-top .nav-menu > li.menu.active, .vertical_layout #menu-top .nav-menu > li.menu:hover {/* background-color: #757373; */color: #FFF;}
.vertical_layout #menu-top .nav-menu > li.menu.active > a, .vertical_layout #menu-top .nav-menu > li.menu:hover > a {color: #fff;}
.vertical_layout #menu-top .nav-menu > li.menu ul {/* position: absolute; *//* left: 0; */display: none;}
.vertical_layout #menu-top .nav-menu > li.menu ul li { white-space: nowrap; padding: 0 15px; display: flex; }
.vertical_layout #menu-top .nav-menu > li.menu > ul.nav-menu-list {/* background-color: #f5c900; */}
.vertical_layout #menu-top .nav-menu > li.menu > ul.nav-menu-list li:hover {/* background-color: #353535; */}
.vertical_layout #menu-top .nav-menu > li.menu > ul.nav-menu-list li:hover > a{ color: #fff;}
.vertical_layout #menu-top .nav-menu > li.menu > ul.nav-menu-list > a {color: #fff;}
.vertical_layout #menu-top .nav-menu > li.menu > ul.nav-menu-list ul.nav-menu-cat { background-color: #e6bc00; }
.vertical_layout #menu-top .nav-menu > li.menu > ul.nav-menu-list ul { left: 100%; top: 0; }

body {/* font-family: "avenir-regular"; */line-height: 1.5;/* min-width: 1280px; */margin: 0;/* overflow-x: hidden; */width: 100%;}
iframe { width: 100%; }

.vertical_layout #nav{
    width: 215px;
    top: 0;
    left: -215px;
    position:fixed;
    background-color: #000;
    height: 100%;
    overflow-x: hidden;
    z-index: 999;
    display: block;
    /* flex-flow: column; */
    transition: all 0.3s;
}
#wrapper{
    width: 100%;
    /* float:right; */
    /* transition: all 0.3s; */
}
.w-container{
    width: 100%;
    /* padding-left: 3.9%; */
    /* padding-right: 3.9%; */
}
.w-container .w-container,.w-container .container{
	/* padding-left: 0; */
	/* padding-right: 0; */
}
.btn{
	border-radius: 0;
	padding: 0.475rem 1.5rem;
}
.btn-dark{
	color: #fff;
    background-color: #000;
    border-color: #000;
}
.w-btn:hover,.w-btn:focus{
	color: #000;
	text-decoration: none;
	background: #fff;
	transition: all 0.2s;
}
body.active-nav .vertical_layout #nav,body.active-nav .vertical_layout #nav .addons{
    left: 0;
}
body.active-nav .vertical_layout #wrapper{
    width: calc(100% - 215px);
    /* min-width: 1200px; */
}
.header-title{
	margin-bottom: 15px;
	text-align: center;
	background: url(../images/h2_top.png) top center no-repeat;
	padding-top: 75px;
	overflow-x: hidden;
}
.h2-title{
    font-weight: 100;
    font-family: avenir-light;
    font-size: 30px;
    color: #656565;
}
.h2-title > span{
    font-family: chops;
    color: #333;
    font-size: 41px;
}
.gioithieu-mota{
	margin-bottom: 15px;
}
.product_noibat_item{
	position:relative;
}
.product_noibat_item .detail{
	position:absolute;
	bottom: 0;
	padding: 10px 30px;
}
.product_noibat_item img{
	filter: brightness(0.5);
}
.product_noibat_item h2 a{
	color: #FFF;
	font-size: 18px;
	font-family: avenir-bold;
	font-weight: normal;
	text-transform: uppercase;
}
.product_noibat_item .addons a{
	color: #fff;
	font-family: avenir-light;
	font-size: 14px;
}
.product_noibat_item .addons a:before{
	content: url(../images/nav.png);
	margin-right: 5px;
}
.album_content{
	width: calc(47% - 5px);
}
.row-16{
	margin-left: -0.5rem;
	margin-right: -0.5rem;
}
.row-16 [class*="col-"]{
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.row-32{
	margin-left: -1rem;
	margin-right: -1rem;
}
.row-32 [class*="col-"]{
	padding-left: 1rem;
	padding-right: 1rem;
}
#footer h3{
	font-family: bevietnam-bold;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 16px;
	position:relative;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
#footer h3:before{
	content: "";
	position:absolute;
	left:0;
	bottom:0;
	width: 45px;
	height:2px;
	background-color: #d90000;
}
#footer .support{
	width: 100%;
}
#footer form{
	position:relative;
}
#footer input{
	border: 0;
	height: 36px;
	background: none;
}
#footer input[type=email]{
	width: 100%;
	
	background-color: #f6f6f6;
	
	padding-left: 15px;
}
#footer input[type=submit]{
	position:absolute;
	right: 0;
	color:transparent;
	background: url(../images/btn-submit.png) center no-repeat;
}

#copyright{
	background-color: #d90000;
	color: #FFF;
	padding: 15px 0;
}
#copyright h3{
	font-family: avenir-bold;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	position:relative;

	margin-bottom: 15px;
}

#copyright .nav-menu{
	display: flex;
	justify-content:center;
	width: 100%;
	list-style-type: none;
}
#copyright .nav-menu .menu a{
	text-transform: uppercase;
	color: #000;
	font-size: 15px;
	display:block;
	margin: 0 15px;
}
.album_item{
	    width: calc(26% - 5px);
}
#copyright .nav-menu-list{
	display: none;
}
.fb_iframe_widget_fluid_desktop iframe{
	width: 100%!important;
}
.product_item {
	position:relative;
	font-family: bevietnam-regular;
	margin-bottom: 1.5rem;
	text-align: center;
	line-height: 2;
}
.product_item .addons{
	display: flex;
	justify-content:space-evenly;
	flex-wrap: wrap;
}
.product_item h3{
	line-height: 1;
	height: 65px;
	overflow: hidden;
}
.product_item h3 a{
	font-size: 15px;
	color: #000;
	font-family: bevietnam-medium;
}
.product_item .masp{
	font-size: 14px;
}
.product_item .masp > span{
	font-family: bevietnam-medium;
	color: #25acab;
	text-transform: uppercase;
}
.product_item{
	position: relative;
}
.product_item .image{
	position:relative;
}
.product_item .btn-giohang{
	opacity:0;
	position:absolute;
	z-index: 999;
	
	left: 0;
	bottom: 0;
	right: 0;
	
	height: 40px;
	cursor: pointer;
	background-color: #d90000;
	color: #FFF;
	z-index: 999999999999;
}
.product_item:hover .btn-giohang{
	opacity:1;
}
.product_item .giacu{
	color: #a8a8a8;
	text-decoration: line-through;
	font-size: 14px;
}
.product_item:hover .image img{
	filter: brightness(0.7);
}
.product_item .giaban{
	color: #d90000;
	
	font-size: 16px;
	font-family: bevietnam-bold;
}
.hover{
	position:relative;
}
.hover .image,.hover .image img{
	transition: all 0.3s;
	width: 100%;

}
.hover:hover .image img{
	transform: scale(1.1);
}
.hover:hover h3 a{
	color: #df0000;
}
.album_item:hover img, .kgq_item:hover img{
	filter: brightness(0.5);
	transition: all 0.3s;
}
.album_item,.kgq_item{
	position:relative;
}
.album_item:before,.kgq_item:before{
	content: url(../images/eye.png);
	position: absolute;
	z-index: 2;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity:0;
	transition: all 0.3s;
	pointer-events: none;
}
.album_item:hover:before, .kgq_item:hover:before{
		opacity: 1;
		transition: all 0.3s;
		filter: invert(1);
	
}
.vertical_layout #nav .addons{
	padding-left: 1.5rem;
	color: #606060;
	font-size: 14px;
	position: fixed;
	bottom: 20px;
	width: 215px;
	left: -215px;
	transition: all 0.3s;
}
.vertical_layout #nav .addons .hotline{
	color: #FFF;
	font-family: avenir-bold;
	background: url(../images/hotline.png) left bottom no-repeat;
	height: 30px;
	padding-top: 8px;
	padding-left: 40px;
	font-size: 18px;
	margin-bottom: 15px;
}
.action-button{
	z-index:99999;
	width: 32px;
	height: 32px;
	position:fixed;
	cursor: pointer;
	left: 15px;
	top: 15px;
}
.action-button:before{
	content: "\f0c9";
	font-family: FontAwesome;
	font-size: 24px;
	
}
.active-nav .action-button:before{
	content: "\f00d ";
	color: #fff;
}
.active-nav .action-button{
    left: 165px;
}
#logo{
	width: 100%;
	text-align:center;
}
#banner{
	display: none;
}
#addons{
	display: none;
}
#minibox .containerP{
	display: flex;
	flex-wrap: wrap;
}

#minibox .video{
	width: 480px;
}
#minibox .news{
	width: calc(100% - 510px);
}
#minibox .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#minibox h2{
	font-family: chops;
	color: #272727;
	font-size: 42px;
	margin-bottom: 15px;
	background: url(../images/minibox_h2.png) bottom left no-repeat;
	padding-bottom: 10px;
}
.news_item {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.news_item .image{
	width: 220px;
}
.news_item .detail{
	width: calc(100% - 235px);
}
.news_item h3 a{
	color: #2c2c2c;
	font-size: 16px;
	font-family: bevietnam-bold;
}
.news_item .mota{
	color: #5a5a5a;
	font-size: 14px;
	font-family: bevietnam-regular;
}
.news_item h3{
	display: flex;
	margin-bottom: 10px;
}
.news_item .ngaytao{
	width: 117px;
	display: flex;
	justify-content: flex-start;
}
.news_item .thang{
	color: #d90000;
	text-transform: uppercase;
	position: relative;
	align-items: center;
	display: flex;
	left: 13px;
}
.news_item .ngay{
	font-size:60px;
	color: #dedede;
	line-height: 0.8;
}
.product_list{
	padding: 40px 0;
}
#footer{
	padding: 30px 0;
	color: #FFF;
	background: url(../images/bg_footer.jpg);
}
#footer .thongtin{
	width: 100%;
}
#footer .mxh_bottom{
	width: 100%;
}
.product_info .btn-muangay, .product_info .btn-giohang {color: #FFF;padding: 10px 30px;display: inline-block;margin-right: 15px;border-radius: 5px;/* font-family: "montserrat-regular"; */cursor: pointer;font-size: 15px;margin-bottom: 15px;}
.product_info .btn-muangay { background-color: #df0000; }
.product_info .btn-giohang {background: #424242;}
.product_info .btn-giohang.muangay{
  background-color: #f13d52;
}
.product_info .btn-giohang:before { content: "\f07a"; font-family: FontAwesome; font-size: 17px; margin-right: 10px; }
.soluong_11 { border: 1px solid #CCC; float: left; height: 32px; }
.soluong { border: none; outline: 0; border-left: 1px solid #CCC; border-right: 1px solid #ccc; float: left; width: 100px; height: 100%; text-align: center; }
.soluong_11 .a_1 { float: left; width: 20px; display: flex; align-items: center; justify-content: center; height: 100%; color: #000; font-size: 10px; }
.btn_responsive { display: none; }
form[name=frm_timkiem]{
	position:absolute;
	right: 15px;
	display:flex;
	align-items:center;
	height: 100%;
	/* border-bottom: 1px solid #fff; */
	width: 250px;
}
form[name=frm_timkiem]{
	background: none;

}
form[name=frm_timkiem] input{
	border: none;
	background: none;
	height: 38px;
	color: transparent;
	border-bottom: 1px solid #fff;
	width: 100%;
}
form[name=frm_timkiem] input[type=text]{
	padding-left: 15px;
	color: #fff;
}
form[name=frm_timkiem] input[type=submit]{
	background: url(../images/icon_timkiem.png) center no-repeat;
	width: 40px;
}
#product_noibat{
	padding:30px 0;
}
#header .container{
	flex-wrap: wrap;
	justify-content: center;
}
.container{
	/* width: 1230px; */
}
.header-hotline{
	display: flex;
	justify-content:space-between;
}
.hotline{
	background: url(../images/hotline.png) center left no-repeat;
	padding-left: 44px;
	display: flex;
	flex-wrap: wrap;
	width: 165px;
	font-family: bevietnam-medium;
	color: #282828;
}
.chinhsach a{
	display: block;
	color: #FFF;
	font-size: 14px;
	margin-bottom: 10px;
}
#addons{
	/* display:flex; */
	/* align-items:center; */
	/* justify-content: space-evenly; */
}
#addons .mxh_top{
	margin-bottom:10px;
}
@media (max-width: 992px){
	#minibox .video{
	width: 100%;
}
#minibox .news{
	width: 100%;
}
.product_info .btn-giohang{
	width: 100%;
}
}
.supporto{
	position:fixed;
	bottom:0;
	display: flex;
	width: 100%;
	background: #d90000;
	justify-content:space-around;
}
.supporto img{
	filter: invert(1);
	transform: scale(0.9);
}
.icon.cart:before{
	content: "\f07a ";
	font-family: FontAwesome;
	color: #fff;
	font-size: 40px;
}
.btn-menu{
	position:relative;
	top: 10px;
	text-decoration: none!important;

}
.btn-menu:before{
	content: "\f0c9";
	font-family: FontAwesome;
	color: #FFF;
	font-size: 20px;
}
.mm-menu{
	background-color: #d90000!important;
}

@media (max-width: 700px){
	.news_item .detail,.news_item .image{
		width: 100%;
	}
	.news_item .detail{
		margin: 5px 0;
	}
}
#menu_responsive:not(.mm-menu){
	display: none;
}
.cart-buttons{
	text-align: center!important;
}

.count_cart{
	position:absolute;
	border-radius: 50%;
	background: #fff;
	width: 25px;
	height: 25px;
	text-align:center;
	right: 15px;
}
.sticky_topbar{
	position:fixed!important;
	top: 0;
	width: 100%;
}