.news .h3-title {color: #333;font-family: "futura-bold";font-weight: normal;font-size: 21px;}
.news .card-text { font-size: 15px; }
.news .card_news { margin-bottom: 1.5rem; border: 1px solid #efefef; }
h1.title_news{
    font-size: 24px;
}