#product-detail h1 {font-size: 21px;border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;font-family: barlow-semi-regular;font-weight: normal;color: #1b53ca;}
.product_info { padding: 8px 0; border-bottom: 1px solid #f2f2f2; }
.chiase { display: flex; flex-wrap: wrap; }
