#product-detail h1 {font-size: 21px;border-bottom: 1px solid #f2f2f2;padding-bottom: 10px;font-family: roboto-bold;font-weight: normal;}
.product_info { padding: 8px 0; border-bottom: 1px solid #f2f2f2; }
.chiase { display: flex; flex-wrap: wrap; }
