body {
  font-size: 14px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url(/assets/fonts/fontawesome-webfont.eot?7149833697a959306ec3012a8588dcfa);
  src: url(/assets/fonts/fontawesome-webfont.eot?7149833697a959306ec3012a8588dcfa) format("embedded-opentype"), url(/assets/fonts/fontawesome-webfont.woff?d95d6f5d5ab7cfefd09651800b69bd54) format("woff"), url(/assets/fonts/fontawesome-webfont.ttf?c4668ed2440df82d3fd2f8be9d31d07d) format("truetype"), url(/assets/fonts/fontawesome-webfont.svg?26efb89ed5261b9be06bf30c659fbc75) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src: url(/assets/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46);
  font-weight: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url(/assets/fonts/Roboto-Bold.ttf?e07df86cef2e721115583d61d1fb68a6);
  font-weight: normal;
}

@font-face {
  font-family: 'roboto-black';
  src: url(/assets/fonts/Roboto-Black.ttf?5ebb24ee1112dd9562629375c387879a);
  font-weight: normal;
}

@font-face {
  font-family: 'roboto-medium';
  src: url(/assets/fonts/Roboto-Medium.ttf?58aef543c97bbaf6a9896e8484456d98);
  font-weight: normal;
}

@font-face {
  font-family: 'tinos-bold';
  src: url(/assets/fonts/Tinos-Bold.ttf?8174eb9874aea067806fb6552cd5861a);
  font-weight: normal;
}

@font-face {
  font-family: 'tinos-regular';
  src: url(/assets/fonts/Tinos-Regular.ttf?ab6e588664f8a737a06746ef7f2492ff);
  font-weight: normal;
}

@font-face {
  font-family: 'utm-zirkon';
  src: url("/assets/fonts/UTM Zirkon.ttf?c1f34d2239a9980b0259880a80022290");
  font-weight: normal;
}

@font-face {
  font-family: 'svn-avo-bold';
  src: url("/assets/fonts/SVN-Avo bold.ttf?5894072bb95c0f561f1eaa16e66d8c55");
  font-weight: normal;
}

@font-face {
  font-family: 'svn-avo';
  src: url(/assets/fonts/SVN-Avo.ttf?35bef1b8875ce4922c29c64552ee84c6);
  font-weight: normal;
}

@font-face {
  font-family: 'rukola';
  src: url("/assets/fonts/iCiel Rukola.ttf?9fe6a378c35472819ec3a85b63a177eb"), url("/assets/fonts/iCiel Rukola.otf?7a896394085abcfdc0967877252c440b");
  font-weight: normal;
}

@font-face {
  font-family: 'caps';
  src: url("/assets/fonts/UTM Beautiful Caps.ttf?2c54384378735294dde55ebd5d9b88a6");
  font-weight: normal;
}

.icon {
  padding-left: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 22px;
}

.icon:before {
  font-family: "FontAwesome";
  width: 10px !important;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #333;
  position: absolute;
  left: 0;
}

.icon.calendar:before {
  content: "\F073   ";
}

.icon.area:before {
  content: "\F1FE   ";
}

.icon.user:before {
  content: "\F007   ";
}

.icon.home:before {
  content: "\F015";
}

.icon.marker:before {
  content: "\F041";
}

.icon.email:before {
  content: "\F003";
}

.icon.hotline:before {
  content: "\F095   ";
}

.icon.global:before {
  content: "\F0AC";
}

.icon.menu_responsive:before {
  content: "\F0C9   ";
  background: none;
  font-size: 24px;
  color: #FFF;
}

.icon.price:before {
  content: "\F155   ";
}

#footer {
  background: url(/assets/images/bg_footer.jpg?84329596fdc5987657cee2ae6a48e693);
  background-size: cover;
  padding: 45px 0;
  color: #c0bebf;
  font-size: 15px;
  margin-top: 15px;
}

#footer .container {
  background-color: #18191e;
  border: 10px solid #202127;
  position: relative;
}

#footer .icon {
  padding-left: 40px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  height: unset;
}

#footer .icon:before {
  color: #FFF;
  /* border: 1px solid #ffffff5e; */
  width: 32px !important;
  height: 32px !important;
  border-radius: 5px;
  margin-right: 40px;
  font-size: 14px;
}

#footer h2 {
  font-family: tinos-bold;
  font-size: 35px;
  margin-bottom: 15px;
  color: #fff;
  background: url(/assets/images/h2_footer.png?2b687c7b8465da3184b22243e4ba88ce) bottom center no-repeat;
  padding-bottom: 10px;
}

#footer input,
#footer textarea {
  border-radius: 0;
  border: 0;
}

#footer input {
  height: 45px;
}

#footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#footer .copyright {
  position: absolute;
  bottom: 15px;
}

.vertical_baiviet_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.vertical_baiviet_item .image {
  border-radius: 50%;
  overflow: hidden;
}
.vertical_baiviet_item .image img {
  border-radius: 50%;
}

.vertical_baiviet_item .detail {
  width: calc(100% - 165px);
}

.vertical_baiviet_item h3 {
  margin-bottom: 0.15rem;
}

.vertical_baiviet_item h3 a {
  font-family: svn-avo-bold;
  font-size: 19px;
  color: #333;
}

.minibox_title {
  font-family: tinos-bold;
  color: #333;
  font-size: 40px;
}

#minibox {
  background: url(/assets/images/bg_minibox.png?6f26e2aefc8db7ee7e02568f3c5a53d0) top no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;
  position: relative;
  bottom: -30px;
  z-index: 99999;
}

#minibox .ngaytao {
  color: #919191;
  font-size: 13px;
}

.w-20 {
  width: 20%;
}

.kgq_item {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px;
}

.vertical_tintuc {
  height: 465px;
  overflow: hidden;
}

.kgq_item_container {
  max-width: 1090px;
  /* float: left; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.kgq_item_container.stt2 {
  float: right;
}

.header-title {
  text-align: center;
  background: url(/assets/images/header-title.png?153fc58a76a9565b354d08811eccfd94) bottom center no-repeat;
  padding-bottom: 25px;
  margin-bottom: 25px;
  line-height: 1;
}

.header-title .h2-title {
  font-family: tinos-bold;
  font-size: 40px;
  color: #000;
}

#khonggianquan {
  padding: 45px 0;
}

.invert {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.khachhang_container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  color: #FFF;
}

.khachhang_item img {
  border-radius: 50%;
}

#ykien {
  padding: 45px 0;
  background: url(/assets/images/bg_khachhang.png?d790aebf195764615d31d3d3760f151f) top no-repeat;
  /* padding-top: 140px; */
  /* margin-top: -104px; */
  color: #ecebeb;
  /* font-family: opensans-regular; */
  z-index: 2;
  position: relative;
  /* padding-bottom: 120px; */
  font-size: 13px;
  position: relative;
}

#ykien .container {
  max-width: 900px;
}

#ykien .swiper-container {
  width: 600px;
  margin: 20px auto;
  padding: 15px 0;
}

#ykien .swiper-slide:not(.swiper-slide-active) .khachhang_item {
  transform: scale(0.65);
}

#ykien .swiper-slide.swiper-slide-active .khachhang_item .image {
  width: 190px !important;
  height: 190px;
  margin: 0 auto;
}

#ykien .ykien_content:not(.active) {
  display: none;
}

#ykien .ykien_content {
  font-size: 14px;
  color: #fff;
  font-family: svn-avo;
}

#ykien .content-khachhang {
  height: 75px;
}

#ykien h3 {
  font-size: 18px;
  color: #fff;
  margin-top: 5px;
}

.product_tpl_tab_item {
  border: 1px solid #222222;
  margin: 8px;
  border-radius: 5px;
  border-bottom: 3px solid #222;
  font-family: svn-avo-bold;
  font-size: 15px;
}

.product_tpl_tab_item.active,
.product_tpl_tab_item:hover {
  background-color: #222222;
  color: #FFF;
}

.product-item h3 a {
  font-family: tinos-regular;
  font-size: 20px;
}

.product-item .giaban {
  font-family: rukola;
  font-size: 22px;
  color: #de0000;
}

.product-item .detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  background-color: #f7f9fb;
  align-items: center;
}

.pagination {
  justify-content: center;
  margin-top: 20px;
}

#sanpham_noibat {
  padding: 45px 0;
}

#gioithieu {
  background: url(/assets/images/bg_gioithieu.jpg?2d16cb7025de64ade043f5f17cec4d8e);
  background-size: cover;
  padding: 45px 0;
}

#gioithieu .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#gioithieu .xemthem {
  display: inline-block;
  width: 159px;
  height: 45px;
  background: url(/assets/images/xemthem.jpg?66446f4cd2d10b46ab6399e0757a5f8a);
}

.gioithieu-header .label {
  font-family: caps;
  font-size: 80px;
  line-height: 1;
}

.gioithieu-header .title {
  font-family: tinos-bold;
  font-size: 50px;
}
#gioithieu .image > a{
  position:relative;
}
#gioithieu .image > a:before{
  content: url(../images/play.png);
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%) scale(1.5)
}
@media (min-width: 991px) {
  #gioithieu .detail,
  #gioithieu .image {
    width: calc(50% - 20px);
  }
}

  #menu-top {
    height:62px;
    z-index: 999;
    width: 100%;
    background: url(/assets/images/bg_menu.jpg?0bdd39db66b9ffedfa21604caa6c46ad) repeat-x;
    position: relative;
  }
@media (min-width: 1200px) {
  #menu-top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  #menu-top .nav-menu {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 110px);
    position: relative;
    /* padding-left: 1.5rem; */
    justify-content: space-between;
    margin: 0;
  }

  #menu-top .nav-menu .menu > a {
    font-family: tinos-bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    text-align: left;
    height: 62px;
    color: #fff;
    /* text-transform: uppercase; */
    font-size: 18px;
    justify-content: flex-start;
    /* padding: 0 30px; */
    /* transform: skew(-30deg); */
    /* width: 100%; */
  }

  #menu-top .nav-menu .menu > a {
    /* transform: skew(-30deg) */
  }

  #menu-top .nav-menu a > span {
    /* transform: skew(30deg); */
  }

  #menu-top .nav-menu li:hover > ul {
    display: block !important;
  }

  #menu-top .nav-menu li {
    position: relative;
    /* padding: 0 1rem; */
  }

  #menu-top .nav-menu > li.menu {
    display: block;
    position: relative;
    /* width: 100%; */
    text-align: left;
    /* padding-left: 1.5rem; */
    /* background: linear-gradient(to right,#d90000 50%,#960000 100%); */
    /* padding: 0 30px; */
  }

  #menu-top .nav-menu > li.menu.active,
  #menu-top .nav-menu > li.menu:hover {
    /* background-color: #757373; */
    color: #FFF;
  }

  #menu-top .nav-menu > li.menu.active > a,
  #menu-top .nav-menu > li.menu:hover > a {
    color: #fbff07;
    /* background: #d90000; */
  }

  #menu-top .nav-menu > li.menu ul {
    position: absolute;
    left: 0;
    display: none;
  }

  #menu-top .nav-menu > li.menu ul li {
    white-space: nowrap;
    /* padding: 0 15px; */
    display: flex;
    width: 100%;
    height: 40px;
    align-items:center;
  }
  .menu-list{
    /* padding: 0 20px; */
  }

  #menu-top .nav-menu > li.menu ul li.menu-list {
    border-bottom: 1px solid rgba(204, 204, 204, 0.29);
  }

  #menu-top .nav-menu > li.menu ul li.menu-list > a {
    color: #333;
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 100%;
    font-family: tinos-bold;
    font-size: 16px;
    font-weight: normal;
  }

  #menu-top .nav-menu > li.menu > ul.nav-menu-list {
    background-color: #fff;
    /* transform: skew(0deg); */
    /* width: 280px; */
    left: 0;
  }

  #menu-top .nav-menu > li.menu > ul.nav-menu-list li:hover {
    /* background-color: #353535; */
  }

  #menu-top .nav-menu > li.menu > ul.nav-menu-list li:hover > a {
    color: #fff;
    background: #222222;
  }

  #menu-top .nav-menu > li.menu > ul.nav-menu-list > a {
    color: #fff;
  }

  #menu-top .nav-menu > li.menu > ul.nav-menu-list ul.nav-menu-cat {
    background-color: #d90000;
  }

  #menu-top .nav-menu > li.menu > ul.nav-menu-list ul {
    left: 100%;
    top: 0;
  }

  #menu-top li.menu-list > a {
    width: 100%;
    /* border-bottom: 1px solid #efefef38; */
  }


  .bando_footer iframe {
    /* height: 250px; */
    width: 100%;
  }
}
@media (max-width: 1199px){
  .nav-menu{
    display: none;
  }
  .btn-responsive{
    display:flex;
  }
}

#logo{
  position:absolute;
  left:0;
  right:0;
  margin: 0 auto;
  z-index: 999;
  width: 170px;
}
#header{
  background: url(../images/bg_header.jpg);
  background-size: cover;
  position:relative;
  height: 168px;
}
h1.nina{
  position: absolute;
  bottom: 0;
  color: transparent;
  z-index: -1;
}
#banner{
  position:absolute;
  top:0;
  left:0;
  height:168px;
