body {
  font-size: 14px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url(/assets/fonts/fontawesome-webfont.eot?7149833697a959306ec3012a8588dcfa);
  src: url(/assets/fonts/fontawesome-webfont.eot?7149833697a959306ec3012a8588dcfa) format("embedded-opentype"), url(/assets/fonts/fontawesome-webfont.woff?d95d6f5d5ab7cfefd09651800b69bd54) format("woff"), url(/assets/fonts/fontawesome-webfont.ttf?c4668ed2440df82d3fd2f8be9d31d07d) format("truetype"), url(/assets/fonts/fontawesome-webfont.svg?26efb89ed5261b9be06bf30c659fbc75) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-regular';
  src: url(/assets/fonts/Roboto-Regular.ttf?11eabca2251325cfc5589c9c6fb57b46);
  font-weight: normal;
}

@font-face {
  font-family: 'roboto-bold';
  src: url(/assets/fonts/Roboto-Bold.ttf?e07df86cef2e721115583d61d1fb68a6);
  font-weight: normal;
}

@font-face {
  font-family: 'roboto-black';
  src: url(/assets/fonts/Roboto-Black.ttf?5ebb24ee1112dd9562629375c387879a);
  font-weight: normal;
}

@font-face {
  font-family: 'roboto-medium';
  src: url(/assets/fonts/Roboto-Medium.ttf?58aef543c97bbaf6a9896e8484456d98);
  font-weight: normal;
}

@font-face {
  font-family: 'tinos-bold';
  src: url(/assets/fonts/Tinos-Bold.ttf?8174eb9874aea067806fb6552cd5861a);
  font-weight: normal;
}

@font-face {
  font-family: 'utm-zirkon';
  src: url("/assets/fonts/UTM Zirkon.ttf?c1f34d2239a9980b0259880a80022290");
  font-weight: normal;
}

@font-face {
  font-family: 'svn-avo-bold';
  src: url("/assets/fonts/SVN-Avo bold.ttf?5894072bb95c0f561f1eaa16e66d8c55");
  font-weight: normal;
}

.icon {
  padding-left: 15px;
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 22px;
}

.icon:before {
  font-family: "FontAwesome";
  width: 10px !important;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: #333;
  position: absolute;
  left: 0;
}

.icon.calendar:before {
  content: "\F073   ";
}

.icon.area:before {
  content: "\F1FE   ";
}

.icon.user:before {
  content: "\F007   ";
}

.icon.home:before {
  content: "\F015";
}

.icon.marker:before {
  content: "\F041";
}

.icon.email:before {
  content: "\F003";
}

.icon.hotline:before {
  content: "\F095   ";
}

.icon.global:before {
  content: "\F0AC";
}

.icon.menu_responsive:before {
  content: "\F0C9   ";
  background: none;
  font-size: 24px;
  color: #FFF;
}

.icon.price:before {
  content: "\F155   ";
}

#footer {
  background: url(/assets/images/bg_footer.jpg?84329596fdc5987657cee2ae6a48e693);
  background-size: cover;
  padding: 45px 0;
  color: #c0bebf;
  font-size: 15px;
  margin-top: 15px;
}

#footer .container {
  background-color: #18191e;
  border: 10px solid #202127;
  position: relative;
}

#footer .icon {
  padding-left: 40px;
  margin-bottom: 15px;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 10px;
  height: unset;
}

#footer .icon:before {
  color: #FFF;
  /* border: 1px solid #ffffff5e; */
  width: 32px !important;
  height: 32px !important;
  border-radius: 5px;
  margin-right: 40px;
  font-size: 14px;
}

#footer h2 {
  font-family: tinos-bold;
  font-size: 35px;
  margin-bottom: 15px;
  color: #fff;
  background: url(/assets/images/h2_footer.png?2b687c7b8465da3184b22243e4ba88ce) bottom center no-repeat;
  padding-bottom: 10px;
}

#footer input,
#footer textarea {
  border-radius: 0;
  border: 0;
}

#footer input {
  height: 45px;
}

#footer h3 {
  font-size: 20px;
  margin-bottom: 15px;
  margin-top: 15px;
}

#footer .copyright {
  position: absolute;
  bottom: 15px;
}

.vertical_baiviet_item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.vertical_baiviet_item .image img {
  border-radius: 50%;
}

.vertical_baiviet_item .detail {
  width: calc(100% - 165px);
}

.vertical_baiviet_item h3 {
  margin-bottom: 0.15rem;
}

.vertical_baiviet_item h3 a {
  font-family: svn-avo-bold;
  font-size: 19px;
  color: #333;
}

.minibox_title {
  font-family: tinos-bold;
  color: #333;
  font-size: 40px;
}

#minibox {
  background: url(/assets/images/bg_minibox.png?76e0b5313d3fea9717e2f627eb893ef2) top no-repeat;
  background-size: 100%;
  padding: 30px 0;
}

#minibox .ngaytao {
  color: #919191;
  font-size: 13px;
}

.w-20 {
  width: 20%;
}

.kgq_item {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 4px;
}


.kgq_item_container{
	max-width: 1090px;
	float: left;
}

.kgq_item_container.stt2{
	float: right;
}
#khonggianquan{
	padding: 45px 0;
}